h2 {
    color: darkblue;
}

.success {
    color: rgb(0, 115, 50);
    background: rgba(241, 241, 241, 0.903);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}